* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: cornflowerblue;
}


.selector {
    display: grid;
    justify-content: center;
    margin-top: 10px;    
}

.tablero {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    justify-content: center;
    align-content: center;
    background-color: aqua;
}

.centrar {
    display: block;
    justify-items: center;
    
}

.combus1 {
    position: relative;
    margin-left: 120 px;
    margin-top: 200 px;
    z-index: 100;
}

.emision {
    position: fixed;
    width: 125px;
    height: 35px;
    line-height: 30px;
    top: 384px;
    right: 200px;
    background: #fff;
    color: #002;
    text-align: center;
    font-size: 42px;
    z-index: 100;
}

.combus {
    position: fixed;
    width: 125px;
    height: 35px;
    line-height: 30px;
    top: 384px;
    left: 114px;
    background: #fff;
    color: #002;
    text-align: center;
    font-size: 42px;
    z-index: 100;
}
